// Brand colors
$primary: rgba(17, 106, 204, 1);
$secondary1: rgba(24, 34, 51, 1);
$secondary2: rgba(179, 206, 226, 1);
$secondary3: rgba(217, 221, 231, 1);
$secondary4: rgba(253, 78, 93, 1);

// Gray colors
$black: rgba(0, 0, 0, 1);
$gray1: rgba(31, 41, 55, 1);
$gray2: rgba(55, 65, 81, 1);
$gray3: rgba(75, 85, 99, 1);
$gray4: rgba(107, 114, 128, 1);
$gray5: rgba(156, 163, 175, 1);
$gray6: rgba(209, 213, 219, 1);
$gray7: rgba(243, 244, 246, 1);
$white: rgba(255, 255, 255, 1);

// State colors
$info: rgba(160, 195, 255, 1);
$success: rgba(118, 202, 102, 1);
$warning: rgba(251, 199, 86, 1);
$error: rgba(186, 0, 0, 1);
