@import "./fonts.scss";
@import "./colors.scss";

body {
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  max-width: 1440px;
  background-color: $white;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  padding: 0;
  border: none;
  outline: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

main {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
