@import "../../styles/colors.scss";

.accounts {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &-controls {
    display: flex;
    &-title {
      font-size: 34px;
      letter-spacing: -0.68px;
      margin-right: 35px;
    }
    &-select {
      width: 300px;
      border-radius: 7px;
      border: 1px solid $primary;
      padding: 8px 16px;
      background: url(../../assets/images/arrow.svg) no-repeat right 23px
        center/11px;
    }

    &-button-icon {
      background-image: url(../../assets/images/plus.svg);
      width: 24px;
      height: 24px;
    }
    &-button {
      margin-left: auto;
    }
  }
}
