@import "../../styles/colors.scss";

.currency {
  display: flex;
  flex-direction: column;

  &-title {
    margin-bottom: 56px;
  }
  &-subtitle {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 25px;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  &-code {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  &-pass {
    border-bottom: 2px dashed $black;
  }
  &-balance {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

.user {
  height: 411px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);

  &-currencies {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-height: 265px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &-currency {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
  }
}

.rate {
  padding: 50px;
  border-radius: 50px;
  background-color: $gray7;
  &-exchanges {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-height: 680px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &-exchange {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
  }
  &-currency {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  &-value {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  &-pass {
    &.green {
      border-bottom: 2px dashed $success;
    }
    &.red {
      border-bottom: 2px dashed $secondary4;
    }
  }
}

.arrow {
  width: 20px;
  height: 10px;
  margin-top: 6.5px;
  padding: 10px;
  background-repeat: no-repeat;
}

.arrow-red {
  @extend .arrow;
  background-image: url(../../assets/images/arrow-red.svg);
}

.arrow-green {
  @extend .arrow;
  background-image: url(../../assets/images/arrow-green.svg);
}
